/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif,'微軟正黑體';
  color: #4d4d4d;
  margin: 0 auto;
}

a.active {
  color: orange;
}

.header {
  border-bottom: 1px solid #cccccc;
  margin: 1em 0;
}

.grid line {
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

div.tooltip {
    position: absolute;
    max-width: 200px;
    height: auto;
    padding: 10px 12px;
    background-color: black;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none; /* MUI IMPORTANTE! */
    font-family: 微軟正黑體, sans-serif;
    font-size: 9px;
}

