/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif,'微軟正黑體';
  color: #4d4d4d;
  margin: 0 auto;
}

.filters {
    border-bottom: 1px solid #cccccc;
    margin: 1em 0 2em 0;
}

div.tooltip {
    position: absolute;
    max-width: 100%;
    height: auto;
    margin-top: -3.8em;
    padding: 10px;
    background-color: black;
    color:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none; /* MUI IMPORTANTE! */
    font-family: 微軟正黑體, sans-serif;
    font-size: 8px;
}

.x-axis .tick line, .y-axis .tick line{
  stroke:#c2c2c2;
}

.xAxisLabel,.yAxisLabel{
  fill:#004B97 ;
}

.grid line {
  shape-rendering: crispEdges;
}

.subgrid {
  stroke-opacity: 1;
}

.tick line{
  stroke: #EAF6F7;
}

.domain{
  stroke: #c2c2c2;
}

.filter-label {
  color:#c2c2c2;
}

#dotChart {
  padding-top: .5em;
}
