/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif,'微軟正黑體';
  color: #4d4d4d;
  margin: 0 auto;
}

.filters {
    border-bottom: 1px solid #cccccc;
    margin: 1em 0 2em 0;
}


.dotChart {
  padding-top: .5em;
}


div.tooltip {
    position: absolute;
    max-width: 100%;
    height: auto;
    margin-top: -3.8em;
    padding: 5px 8px;
    background-color: black;
    color:#fff;
    opacity: 0.7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-family: 微軟正黑體, sans-serif;
    font-size: 8px;
}

.x-axis .tick line, .y-axis .tick line{
  stroke:#c2c2c2;
}

.xAxisLabel,.yAxisLabel{
  fill:#004B97 ;
}

.grid line {
  shape-rendering: crispEdges;
}

.xSubgrid, .ySubgrid {
  stroke-opacity: 0.7;
}

.tick line{
  stroke: #D2E9FF;
}

.domain{
  stroke: #c2c2c2;
}

.filter-label {
  color:#c2c2c2;
}

.hover-line { 
  stroke: #FF9797;  
  fill: none;
  stroke-width: 1px;
}